.compute-button {
    font-size: 12px;
    line-height: 18px;
    background: #4285F4;
    color: white;
    height: auto;
    width: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
}

table{
    width: 50%;
}
mat-cell, mat-header-cell{
    border: 1px solid black;
}


@media only screen and (max-width: 900px) {
    .dont-show-on-mobile{
        display: none;
    }
}