.compute-button {
    font-size: 10px;
    line-height: 12px;
    background: #4285F4;
    color: white;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.is-loading-spinner {
    margin: 0 auto;
}

.paginator {
    color: black;
    font-weight: bolder;
    background-color: rgba(235, 235, 29, 0.774);
    border: 2px solid black;
}

.mat-header-row {
    background-color: rgba(235, 235, 29, 0.774);;
}

.mat-row:nth-child(even){
    background-color:rgba(81, 235, 76, 0.637);
    }

.mat-row:nth-child(odd){
    background-color:rgba(17, 163, 17, 0.753);
}

.mat-header-cell {
    font-weight: bolder;
    color: black;
}

mat-cell, mat-header-cell{
    border: 1px solid black;
}

.mat-column-problemId {
    flex: none;
    width: 35px;
}

.mat-column-compute {
    flex: none;
    width: 80px;
}

.mat-column-numberOfTimesComputed {
    flex: none;
    width: 75px;
}

.mat-column-lastComputationTimeInMs {
    flex: none;
    width: 50px;
}

.mat-header-cell {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
  
.mat-cell {
    text-align: center;
    justify-content:center;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0px;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 0px;
}

@media only screen and (max-width: 900px) {
    .dont-show-on-mobile{
        display: none;
    }
}