.compute-button {
    font-size: 10px;
    line-height: 12px;
    background: #4285F4;
    color: white;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.is-loading-spinner {
    margin: 0 auto;
}

table{
    width: 50%;
}
mat-cell, mat-header-cell{
    border: 1px solid black;
}

.mat-column-problemId {
    flex: none;
    width: 20px;
}

.mat-column-numberOfTimesComputed {
    flex: none;
    width: 60px;
}

.mat-column-lastComputationTimeInMs {
    flex: none;
    width: 60px;
}

.mat-header-cell {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
  
.mat-cell {
    text-align: center;
    justify-content:center;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0px;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 0px;
}

@media only screen and (max-width: 900px) {
    .dont-show-on-mobile{
        display: none;
    }
}